{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Pasaporte y mapa</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore, reprehenderit accusamus, pariatur dolores
            iure delectus voluptates nisi vero soluta sunt distinctio odit rem perferendis eligendi voluptatem expedita
            rerum cumque corporis.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/passport.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}